
/******* Header Navbar *******/

 header ul{
    list-style-type: none;
    overflow: hidden;
    margin: 12.5px 15px;
}
 
.nav-right {
    float: right;
}

.nav-left {
    float: left;
}

header ul li {
    display: block;
    padding: 9px;
}

header ul li a {
    text-align: center;
    color: rgb(51, 51, 51);
    text-decoration: none;
    font-size: 13px;
    font-family: monospace;
}

#menu {
    opacity: .7;
    margin-top: -2px;
}

#profile {
    width: 3em;
    margin-top: -9px;
}

/******* Main Content *******/

#google-search {
    background-color: white;
}

#logo {
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    width: min-content;
    margin-top: 80px;
}

#logo img {
    width: 22.5em
    
}

#search {
    margin: 0 auto;
    padding: 14px 14px;
    width: 575px;
    background-color: white;
    border: 0px solid;
    border-radius: 25px;
    box-shadow: .5px .5px 15px .1px rgba(0,0,0,0.3);
}

#search img {
    display: inline-block;
    position: absolute;
    width: 1.6em;
    margin: 0px auto;
    opacity: .7;
}

#text-input {
    display: block;
    width: 500px;
    border: 0px solid;
    margin: 0 auto;
    background-color: white;
}

#buttons {
    width: 310px;
    margin: 35px auto;
    padding: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button {
    padding: 10px 20px;
    box-shadow: 0px .5px 5px .1px rgba(0,0,0,0.3);
    background-color: #f8f8f8;
    border: 0px solid #c6c6c6;
    border-radius: 5px;
}

.button:hover {
    box-shadow: 0px .5px 10px .1px rgba(0,0,0,0.3);
    font-weight: 600;
    cursor: pointer;
}

#search:hover {
    box-shadow: 0px .5px 15px .1px rgba(0,0,0,0.5);
}